@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .imgcontato {
        display: none;
    }

    .itens-serviço {
        grid-template-columns: repeat(2, minmax(50px, 350px));
    }
}