@media (max-width: 600px) {
    .conteudo-principal h1 {
        width: 500px;
        text-align: center;
        font-size: 4rem;
    }

    .conteudo-principal h2 {
        font-size: 2rem;
    }

    .sobre-nos img {
        width: 400px;
        height: 350px;
        margin-left: 10px;
    }

    .sobre-nos p {
        text-align: center;
        width: 500px;
    }

    .profissionais p {
        text-align: center;
        width: 500px;
    }

    .imgcontato img {
        display: none;

    }
}